

wojciech_szeszol_lab1/data/*
wojciech_szeszol_lab1/*.bin
wojciech_szeszol_lab1/*.png
wojciech_szeszol_lab1/*.exr

wojciech_szeszol_lab2/data/*
wojciech_szeszol_lab2/depth.jpg
wojciech_szeszol_lab2/depth.mtl
wojciech_szeszol_lab2/depth.obj
wojciech_szeszol_lab2/render.png
wojciech_szeszol_lab2/*.png
wojciech_szeszol_lab2/*.jpg
wojciech_szeszol_lab2/*.blend

wojciech_szeszol_lab3/*.binary
wojciech_szeszol_lab3/.DS_Store

wojciech_szeszol_lab4/data/*

*.pdf
